/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "PT Serif", system-ui;
  color-scheme: light dark;

  --beige: hsl(28, 71%, 80%);
  --indigo: hsl(257, 37%, 20%);
  --black: hsl(254, 58%, 7%);

  /* --bg: hsl(255, 100%, 99%);
    --link: hsl(258, 81%, 59%);
    --text: hsl(258, 20%, 20%); */
  --aux: hsl(258, 20%, 59%);

  --bg: hsl(257, 39%, 7%);
  --link: hsl(258, 71%, 80%);
  --text: hsl(27, 20%, 80%);
}

::selection {
  background-color: hsla(30, 5%, 22%, 0.5);
}

/* Show focus ring only when navigated with keyboard */
button:focus:not(:focus-visible) {
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

a {
  color: rgb(59, 58, 57);
  transition: color 200ms;
  font-weight: bold;
}

a:hover {
  color: rgb(90, 90, 90);
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: black;
  background-color: rgba(255, 186, 95, 0.952);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }
}

body,
html {
  height: 100%;
  min-height: 100%;
  transition: color 200ms, background-color 200ms;
}

body,
body * {
  position: relative;
  min-width: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
iframe {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
