/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Source Serif Pro", system-ui;
  color-scheme: light dark;

  --bg: hsl(0, 0%, 100%);
  --fg: hsl(0, 2%, 25%);
  --mono: hsla(234, 81%, 79%, 0.279);

  --link: hsl(228, 93%, 68%);

  --extra: rgba(121, 119, 140, 0.87);
}

::selection {
  background-color: hsla(30, 5%, 22%, 0.5);
}

/* Show focus ring only when navigated with keyboard */
button:focus:not(:focus-visible) {
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

a {
  color: var(--link);
  font-weight: bold;
}

a:hover {
  filter: brightness(0.5);
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.35;
  color: var(--fg);
  background-color: var(--bg);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.1rem;
  }
}

body,
html {
  height: 100%;
  min-height: 100%;
  transition: color 200ms, background-color 200ms;
}

body,
body * {
  position: relative;
  min-width: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
iframe {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
