body {
  font-family: "Source Serif"
}

/* h1 { */
  /* font-size: 1.8em; */
/* } */

/* main { */
  /* max-width: 768px; */
  /* margin: 0 auto; */
  /* display: grid; */
  /* min-height: 100%; */
  /* padding: 1em; */
  /* row-gap: 1em; */
/* } */

main ul {
  list-style: circle;
}

img {
  padding: 1em 0;
}

pre>code {
  font-size: 0.9em;
}

pre {
  display: block;
  padding: 1em;
  border-radius: 0.2em;
  max-width: 100%;
  overflow-x: auto;
}

p>code {
  background-color: var(--mono);
  padding: 0.25em;
  font-size: 14px;
  border-radius: 0.4em;
}

.extra {
  font-size: 14px;
  background-color: var(--extra);
  color: white;
  padding: 0.8em;
  border-radius: 0.3em;
}

.extra a {
  color: rgb(215, 245, 250);
}

.extra a:hover {
  color: rgb(135, 139, 177);
}

.extra img {
  margin: 0 auto;
  line-height: 1.2;
  opacity: 0.85;
}
