article {
  font-family: "Source Serif 4"
}

article ul {
  list-style: circle;
}

article p {
  padding-top: 1em;
}

article h2 {
  margin-top: 1em;
}

img {
  padding: 1em 0;
}

code {
  font-family: "Berkeley Mono";
}

pre>code {
  font-size: 0.9em;
}

pre {
  display: block;
  padding: 1em;
  margin-top: 2em;
  font-size: 0.9em;
  margin-bottom: 1em;
  max-width: 100%;
  border: 2px dashed lightgray;
  overflow-x: auto;
}

:is(a, p)>code {
  background-color: var(--mono);
  padding: 0.25em;
  font-size: 0.8em;
}

a:hover>code {
  background-color: transparent;
}

.extra {
  font-size: 0.8em;
  border: 1px dashed black;
  background-color: hsla(259, 5%, 95%, 1);
  padding: 0.8em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.extra p {
  padding: 0;
}

.extra img {
  margin: 0 auto;
  line-height: 1.2;
  opacity: 0.85;
}