{% extends "base.html" %} {% block headtags %}
<title>Kirill Vasiltsov | Personal website</title>
<meta property="og:url" content="https://www.kirillvasiltsov.com/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Kirill Vasiltsov | Personal website" />
<meta name="Description" content="Kirill Vasiltsov's personal website" />
<meta property="og:description" content="Kirill Vasiltsov's personal website" />
<meta property="og:image" content="https://www.kirillvasiltsov.com/thumbnail.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="https://twitter.com/virtualkirill/" />
<meta name="twitter:title" content="Kirill Vasiltsov | Personal website" />
<meta name="twitter:description" content="Kirill Vasiltsov's personal website" />
<meta name="twitter:image" content="https://www.kirillvasiltsov.com/thumbnail.png" />
{% endblock headtags %} {% block styles %}
<style>
  h2::after {
    content: "";
    border-right: 0.7em solid rgb(68, 75, 72);
    animation: 2s blink steps(2) infinite;
  }

  .quick-links {
    
  }

  @keyframes blink {
    from {
      visibility: hidden;
    }

    to {
      visibility: visible;
    }
  }

</style>
{% endblock styles %} {% block content %}
<main>
  <section class="introduction">
    <h1>Kirill Vasiltsov</h1>
    <h2>Software engineer</h2>

    <nav class="quick-links">
      <ul class="quick-links__list">
        <li>
          <a href="https://github.com/jlkiri">GitHub</a>
        </li>
        <li>
          <a href="https://twitter.com/virtualkirill">Twitter</a>
        </li>
        <li>
          <a href="mailto:mail@kirillvasiltsov.com">Email</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li><a href="/writing">Blog</a></li>
      </ul>
    </nav>
  </section>
</main>
{% endblock content %}
